.card {
	width: 280px;
	margin: 16px;
	box-shadow: 5px 5px 5px rgba(160, 160, 160, 0.24);
	font-size: 14px;

	& .close {
		position: absolute;
		color: #d9d9d9;
		right: -1px;
		background: rgb(255 255 255 / 24%);
		border-radius: 6px;
		padding: 2px;
		font-size: 18px;
		transition: all 0.2s;

		&:hover {
			color: #1677ff;
			scale: 1.1;
			background: rgba(97, 97, 97, 0.24);
		}
	}

	& span {
		font-weight: bold;
		color: #696969;
	}

	& img {
		object-fit: cover;
		height: 250px;
		width: 100%;
	}
}

.cardlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
